/* Todos los elementos de la página 
Tamaño de fuente: 16px
Familia de fuentes:Arial, Helvetica, sans-serif; */ 

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #555;  /*Todos los párrafos de la página, color: #555;*/
}

#primero p {
    color: #369;  /*Los párrafos contenidos en el elemento con id primero, color: #369;*/
}

a {
    color: #C30;  /*Todos los enlaces de la página, color: #C30;*/
}

#primero em {
    color: #0000BB;  /*Los elementos <em> contenidos en #primero, color: #0000BB y background-color: #FFFFCC;*/
    background-color: #FFFFCC;
}

.especial {
    color: #FFFF00;  /*Todos los elementos de la página con la clase especial, color: #FFFF00 y background: #000000;*/
    background: #000000;
}

.normal span {
    font-weight: bold;  /*Todos los elementos <span> contenidos en la clase "normal", font-weight: bold;*/
}